<div class="row">
	<%= render 'site/sidebar' -%> 
		<div class="col-md-9 page-content">
			    <%= render 'site/topbar' -%>



			<div class="inner-box category-content">
				<h2 class="title-2 uppercase"><strong> <i class="fa fa-cube"></i> Editar Anúncio</strong> (<%= @ad.title -%>)</h2>
				<div class="row">
					<div class="col-sm-12">
						<%= render 'form', ad: @ad %>
					</div>
				</div>
			</div>
		</div> 
</div>
