<div class="row">
	<%= render 'site/sidebar' -%> 
		<div class="col-md-9 page-content">

			    <%= render 'site/topbar' -%>


		    <% if !current_user.limit_ads_per_user -%>
			<div class="inner-box">
		      <div class="row">
		        <div class="col-lg-12">
		          
		          <h1> Assine um de nossos planos para publicar mais anúncios</h1>
		          
		        </div>
		      </div>
		    </div>
		    <% else -%>

			<div class="inner-box category-content">
				<h2 class="title-2 uppercase"><strong> <i class="fa fa-cube"></i> Públicar Anúncio</strong></h2>
				<div class="row">
					<div class="col-sm-12">			
							<%= render 'form', ad: @ad %>
    		
					</div>
				</div>
			</div>
			<% end -%>



		</div> 
</div>
