<div class="section-content">
<div class="row ">
<h1 class="text-center title-1"> Sobre o Anúncios Medicos </h1>
<hr class="center-block small text-hr">
<div class="col-sm-12">
<div class="text-content has-lead-para text-left">
<p class="lead"> Nós somos um website de classificados gratuitos!

O Anúncios Médicos oferece um modo simples e seguro de realizar negócios de compra e venda, tudo ao alcance do usuário, com ferramentas de mídias sociais e localização geográfica para tornar a experiência ainda mais fácil.</p>

</div>
<br><br><br>
  <div class="post-promo text-center">
            <h2> Tem algo pra vender ? </h2>
            <h5>Venda seus produtos online gratuitamente. É mais fácil do que você pensa!</h5>
            <%= link_to "Cadastre-se", new_user_registration_path, :class => 'btn btn-lg btn-border btn-post btn-warning' %>
        </div>
</div>

</div>
</div>